<h2>Login</h2>
 <%= form_tag sessions_path, method: :post do %>
   <%= text_field_tag :name,nil, placeholder: "name" %>

  <%= submit_tag "Login" %>
<% end %>

<%= link_to 'Register', new_user_path %>